<%- include('../partials/header') %>

<div class="container">
<section>
    <h2 class="fs-4 fw-bold text-bg-dark p-2 text-center">Legs and Glute</h2>
    <table class="table table-striped"  id="legs and glute">
       
        <tbody>
            <% workouts.forEach(function(w) { %>
                <% if (w.focus === 'Legs and Glute') { %>
                    <tr>
                        <td scope="col" class="text-start"><%= w.title %></td>
                        <td scope="col" class="text-end"><a href="/workouts/<%= w._id %>" class="btn btn-outline-primary btn-sm">Details</a></td>
                    </tr>
                <% } %>
            <% }); %>
        </tbody>
    </table>
</section>

<section>
    <h2 class="fs-4 fw-bold text-bg-dark p-2 text-center">Back and Biceps</h2>
    <table class="table table-striped" id="Back and Biceps">
       
        <tbody>
            <% workouts.forEach(function(w) { %>
                <% if (w.focus === 'Back and Biceps') { %>
                    <tr>
                        <td scope="col" class="text-start"><%= w.title %></td>
                        <td scope="col" class="text-end"><a href="/workouts/<%= w._id %>" class="btn btn-outline-primary btn-sm">Details</a></td>
                    </tr>
                <% } %>
            <% }); %>
        </tbody>
    </table>
</section>

<section>
    <h2 class="fs-4 fw-bold text-bg-dark p-2 text-center">Shoulder and Triceps</h2>
    <table  class="table table-striped" id="Shoulder and Triceps">
        
            <% workouts.forEach(function(w) { %>
                <% if (w.focus === 'Shoulder and Triceps') { %>
                    <tr>
                        <td scope="col" class="text-start"><%= w.title %></td>
                        <td scope="col" class="text-end"><a href="/workouts/<%= w._id %>" class="btn btn-outline-primary btn-sm">Details</a></td>
                    </tr>
                <% } %>
            <% }); %>
        </tbody>
    </table>
</section>

<section>
    <h2 class="fs-4 fw-bold text-bg-dark p-2 text-center">Full Body</h2>
    <table  class="table table-striped" id="Full Body">
        
        <tbody>
            <% workouts.forEach(function(w) { %>
                <% if (w.focus === 'Full Body') { %>
                    <tr>
                        <td scope="col" class="text-start"><%= w.title %></td>
                        <td scope="col" class="text-end"><a href="/workouts/<%= w._id %>" class="btn btn-outline-primary btn-sm">Details</a></td>
                    </tr>
                <% } %>
            <% }); %>
        </tbody>
    </table>
</section>

<section>
    <h2 class="fs-4 fw-bold text-bg-dark p-2 text-center">Cardio</h2>
    
    <table class="table table-striped" id="Cardio">
        
        <tbody>
            <% workouts.forEach(function(w) { %>
                <% if (w.focus === 'Cardio') { %>
                    <tr>
                        <td scope="col" class="text-start"><%= w.title %></td>
                        <td scope="col" class="text-end"><a href="/workouts/<%= w._id %>" class="btn btn-outline-primary btn-sm">Details</a></td>
                    </tr>
                <% } %>
            <% }); %>
        </tbody>
    </table>
   
</section>

<%- include('../partials/footer') %>