<%- include('../partials/header') %>

<section id="show-page" class="container mt-4">
  <table class="table">
    <!-- thead-light/dark not working -->
    <thead class="thead-light"> 
      <tr>
        <th scope="col">Attribute</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Title:</strong></td>
        <td><%= workout.title %></td>
      </tr>
      <tr>
        <td><strong>Focus:</strong></td>
        <td><%= workout.focus %></td>
      </tr>
      <tr>
        <td><strong>Description:</strong></td>
        <td><%= workout.description %></td>
      </tr>
    </tbody>
  </table>
</section>

<%- include('../partials/footer') %>
