<%- include('../partials/header') %>

<section id="show-page">
    <div><strong>Title:</strong> </div>
    <div>
      <%= workout.title %>
    </div>
    <div><strong>Focus:</strong> </div>
    <div>
      <%= workout.focus%>
    </div>

    <div><strong>Description:</strong> </div>
    <div>
    <div>
      <%= workout.description %>
    </div>


<%- include('../partials/footer') %>