<%- include('../partials/header') %>

<h2 class="fs-4 fw-bold text-bg-dark p-2 text-center">Workout Sessions</h2>
<table class="table table-striped" >
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Difficulty</th>
      <th>Completed</th>
      <th>Info</th>
      
    </tr>
  </thead>
  <tbody>
   
    <% workoutSessions.forEach(function(ws) { %>
      <tr>
        <!-- TODo: Access userName and userAvatar from ws.activity -->
        <td class="#"><img alt="avatar" referrerpolicy="no-referrer"> </td>
        <td><%= ws.title %></td>
        <td><%= ws.difficulty %></td>
        <td><%= ws.completed ? 'Yes' : 'No' %></td>
        <td><a href="/workoutsessions/<%= ws._id %>" class="btn btn-outline-primary btn-sm">DETAILS</a></td>
      </tr>
   
    <% }); %>
  </tbody>
</table>


<%- include('../partials/footer') %>